* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg: #0f0f0f;
    --white: #FFFFFF;
    --gray-light: #707070;
    --gray: #262626;
}

body {
    background: var(--bg);
    color: var(--white);
    height: 100vh;
}

input,
button {
    border: none;
    background: none;
}

input:focus,
button:focus {
    outline: none;
}