header {
    padding: 0 1em;
}

header, nav {
    width: 100%;
}

header, 
nav,
nav .menu-and-logo,
nav .buttons-config {
    display: flex;
}

nav {
    justify-content: space-between;
}

nav .menu-and-logo .logo-youtube {
    width: 8em;
}